body{
    background:linear-gradient(to right,#2b2621,#120b13);
    margin: 0;
    padding: 0;
  
}
.header{
    background-image: url(logo.png);
  
    background-size: 40px 40px;
    background-repeat: no-repeat;
    background-position: 20px 25px;
    display: flex;
    justify-content: start;
    align-items: center;
    margin-left: 20px;
}
.tablist{
    margin-top: 0px;
    display: flex;
    justify-content: start;
    align-items: start;
    margin-left: 1px;
    list-style: none;
}
.items a:link,a:active,a:visited{
    list-style: none;
    color: white;
    font-family: sans-serif;
    font-weight: 200;
    font-size: 12px;
    margin-left: 50px;
    margin-top: 10px;
    text-decoration: none;
}
.items a:hover{
    size: 100%;
    color: black;
    border: 0px solid white;
    border-radius: 3px;
   
    background-color: white;
}
.heading{
    display: flex;
    align-items: center;
    margin-top: 7px;
    justify-content: start;
    margin-left: 100px;
    color: #E2BD87;
    font-size:44px ;
    font-family:'kalam',cursive;
}
.item1{
    display: flex;
    align-items: start;
    justify-content: start;
    margin: 0;
    padding: 0;
}
.items1 a:link,a:active,a:visited{
    list-style: none;
    color: white;
    font-family: sans-serif;
    font-weight: 200;
    font-size: 12px;
    align-items: center;
    justify-content: center;
    margin-left: 190px;
    margin-top: 20px;
    text-decoration: none;
}

.button{
    border-radius: 5px;
    margin-left: 20px;
    color: #2b2621;
    background-color: #E2BD87;
    font-size: 12px;
    font-weight:700;
    border-width: 1px;
    margin-top: 0px;
    height: 35px;
    width: 130px;
}
.footer{
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    padding: 0;
    margin-top: 100px;
    margin-left: 10px;
  
    height: 100%;
    
    width: 100%;
    
    

}
.ft{
    padding: 0;
    margin-top: 40px;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 40px;
    color: #E2BD87;
    font-family:'kalam',cursive;
    text-align: center;
}
.contactinfo{
  
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
}
.contactus{
    margin-left: 160px;
    display: flex;
    flex-direction: column;
    
}
.c{
    color: white;
    font-family: sans-serif;
    font-weight: bolder;
    font-size: 21px;
}
.cinfo{
    margin-top: 0;
    font-size: 12px;
    font-family: sans-serif;
    color: #E2BD87;
}
.sm{
    display: flex;
    flex-direction: row;
    
}
.facebook{
    height: 42px;
    width: 42px;
}
.facebook1{
    margin-left: 40px;
    height: 40px;
    width: 40px;
}